<form>
    <div class="mb-3">
        <label for="task" class="form-label">What should I do?</label>
        <input type="text" class="form-control" id="task">
    </div>

    <button type="submit" class="btn btn-primary" {{on "click" this.submit}}>Create a new task</button>
</form>